@model WebApplication1.ViewModels.EmployeeViewModel 

@{
    ViewBag.Title = "DeleteEmployee";
}

<h2>DeleteEmployee</h2>

<form action="/Employee/DeleteEmployee" method="post">


    @Html.DropDownListFor(
     model => model.EmployeeIdToDelete,
          new SelectList(Model.AllEmployeesFromDatabase, "EmployeeId", "Name"),
          new { @class = "form-control" }
)

   <input type="submit" value="Submit" />

</form>
